/* Carrousel div
.carrousel
    display: flex
    align-items: center
    justify-content: center
    margin: 50px 0 30px
    /* Carrousel boutons div
    &__buttons
        z-index: 2
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        width: 1240px
        gap: 85%
        /* bouton gauche 
        &-left
            border-style: none
            background-color: transparent
        /* bouton droite 
        &-right
            border-style: none
            background-color: transparent
    /* carrousel image active 
    &__img-active
        z-index: 1
        width: 1240px
        height: 415px
        border-radius: 25px
        object-fit: cover
    /* carrousel compteur pour tenir au courants du nombre d'image
    &__counter
        z-index: 2
        position: absolute
        margin-top: 357.7px
        color: #FFF
        font-size: 18px
        
