$round-btn: 0px 0px 5px 5px
$content-padding: 16px 20px 20px
$primary-color: #FF6060
$second-color: #F6F6F6
$max-width: 1023px 
$min-width: 582px 

/* mixin pour les flêches des boutons 
@mixin arrow-btn
    border: none
    background-color: $primary-color
    transition: 300ms ease

/* mixin pour le contenu du collapse 
@mixin collapse-content
    z-index: -1
    position: relative
    margin-bottom: 30px
    border-radius: $round-btn
    background-color: #F6F6F6
    color: $primary-color
    font-size: 18px
    transform-origin: top
    font-weight: 400
    ul
        margin: 0
        padding: 0
        list-style-type: none
    li:not(:last-child)
        margin-bottom: 5px
    
.collapse
    width: $max-width  
    
    /* barre apparente du collapse 
    &__head
        display: flex
        align-items: center
        padding: 5px 20px 5px 15px
        height: 52px
        border-radius: 5px
        background-color: $primary-color
        font-size: 24px
        color: #fff

        /* Titre du collapse component
        &-title
            width: calc( $max-width - 80px )
            // 582px
            gap: 80%
            &.small
                width: calc( $min-width - 80px )

        /* boutton en flêche du collapse component 
        &-button

            /* si le state isOpen est false 
            &-false 
                @include arrow-btn
                transform: rotate(0deg)

            /* si le state isOpen est false 
            &-true 
                @include arrow-btn
                transform: rotate(-180deg)

    /* Div de content de collapse
    &__content-open

        /* Si le state isOpen est false
        &__false
            @include collapse-content
            width: calc( $max-width - 40px )
            overflow: hidden
            height: 0
            animation: hide-content 300ms
            &.small
                width: calc( $min-width - 40px )
        /* Si le state isOpen est true
        &__true
            @include collapse-content
            width: calc( $max-width - 40px )
            padding: $content-padding 
            animation: show-content 300ms linear
            &.small
                width: calc( $min-width - 40px )
    &.small
        width: $min-width

/* animation pour le deroulement du content de collapse
@keyframes show-content 
    0% 
        transform: translateY(-50px)
        margin-bottom: -10px
    100%
        transform: translateY(0)
        margin-bottom: 30px

/* animation pour le enroulement du content de collapse
@keyframes hide-content
    0% 
        transform: translateY(0)
        padding: $content-padding
    100%
        transform: translateY(-50px)
        padding: $content-padding
        margin-bottom: -5px
