/* Footer div */
.footer
    position: absolute
    left: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 66px 0 29px
    height: 114px
    width: 100%
    gap: 28.56px
    background-color: #000

    &__img
        width: 122px
        height: auto
    &__law-info
        color: #fff
        font-size: 24px