/* Header nav */
.nav
  display: flex
  justify-content: space-between
  align-items: center
  height: 68px
  width: 1240px
  gap: 720px
  margin: 45px 0 0px
  @media (max-width: 375px) 
    width: 335px
    margin: 20px 0 27px
    gap: 43px

    img 
      height: 47px

  /* Header Div Links */
  &__links
    display: flex
    gap: 27px
    @media (max-width: 375px)
      gap: 10px
      
  /* Header Link */ 
  &__link 
    width: 120px
    height: auto
    text-decoration: none
    color: #ff6060
    font-size: 24px
    font-family: 'Montserrat'
    &.active 
      text-decoration: #ff6060 underline
    
    @media (max-width: 375px) 
      width: 60px
      font-size: 12px


