/* lodging main div
.lodging
    /* div contentant les diverses informations
    &__infos
        display: flex
        align-content: center
        &-left
            display: flex
            flex-direction: column
            align-content: flex-start
            justify-content: flex-start
            width: 90%
            &-title
                font-size: 36px
                height: 51px
            &-location
                font-size: 18px
                height: 26px
            &-tags
                display: flex
                gap: 10px
                margin: 20px 0 24px
                & .tag
                    display: flex
                    align-items: center
                    justify-items: center
                    padding: 3px 30px
                    width: fit-content
                    height: 25px
                    border-radius: 10px
                    color: #FFF
                    background-color: #FF6060
        &-right
            display: flex
            flex-direction: column
            align-content: flex-end
            justify-content: flex-start
            &-host
                display: flex
                align-items: center
                justify-content: flex-end
                margin-bottom: 21px
                &-name
                    width: 93px
                &-cover
                    img
                        height: 64px
                        width: 64px
                        border-radius: 50%
            &-stars
                display: flex
                height: 24px
                gap: 18px
    &__collapses
        display: flex
        gap: 76px
                    